{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}
    <link href="{% static 'search/css/search_done.css' %}" rel="stylesheet">
{% endblock %}

{% block 'body' %}
    <head>
        <title>PageRank search results</title>
        <link rel="stylesheet" type="text/css">
    </head>
    <body>
        {% if messages %}
            {% for message in messages %}
                <div class="alert {{ message.tags }}">{{ message }}</div>
            {% endfor %}
        {% endif %}
        <header>
            <div class="search-bar">
                <form action="" method="GET" id="search-form">
                    <select name="date_filter">
                        <option value="all">All History</option>
                        {% for date in dates %}
                            <option value="{{ date }}">{{ date }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Filter">
                </form>
            </div>
        </header>
    
        <div id="results-container">
            <h1>Search results</h1>
            <ol>
                {% for item in search_results %}
                    <li>
                    <span class="total-conta positivo ">{{ item.link }} 
                    <a href="{% url 'delete_history' item.id %}"><img src="{% static 'search/img/delete.png' %}"></a>
                    <a href="{% url 'access_search' item.id %}"><img src="{% static 'search/img/export.png' %}"></a>
                    </span>
                    
                {% endfor %}
            </ol>
        </div>
    
        <footer>
            <p>by: GAP.code</p>
        </footer>
    </body>
{% endblock %}
