{% extends 'bases/base.html' %}
{% load static %}

{% block 'head' %}

    <link href="{% static 'search/css/search_done.css' %}" rel="stylesheet">

{% endblock %}

{% block 'body' %}
    <head>
    <title>Resultados do PageRank</title>
    <link rel="stylesheet" type="text/css">
    </head>
    <body>
    <header>
        <div class="search-bar">
        <form action="{% url 'do_search' %}" method="POST" id="search-form">{% csrf_token %}
            <input type="text" name="search" id="search-input" placeholder="Search on Bugoogle">
            <input type="submit" value="Search">
        </form>
        </div>
    </header>
    
    <div id="results-container">
        <h1>Resultados da Pesquisa</h1>
        <ol>
        {% for link in link_list %}
            <li><a href="{{ link }}">{{ link }}</a></li>
        {% endfor %}
        </ol>
    </div>
    
    <footer>
        <p>Informações de rodapé</p>
    </footer>
    </body>

{% endblock %}